BOT_TOKEN=your_telegram_bot_token
STORAGE_CHAT_ID=-1001234567890
STORAGE_COPY_MIN_INTERVAL_MS=1250
STORAGE_COPY_MAX_RETRIES=3
PAY_SUPPORT_HANDLE=@demohub_support
STARS_HOLD_DAYS=7
STARS_SUPPORT_AMOUNTS=10,25,50
WITHDRAW_MIN_STARS=100
UPLOAD_MAX_MB=25
UPLOAD_DAILY_LIMIT=20
